#contact{
  width:85%;
  max-width: 600px;
  margin-inline: auto;
  text-transform: capitalize;
  padding-top: 180px;
  text-align: center;
}

.page-title{
  color: white;
  margin-bottom: 20px;
}

.page-title span{
  color:rgb(102, 13, 185) ;
}

form{
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.input-container{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-container label{
  color: white;
  text-align: left;
}

.input-container input{
  padding-block: 20px;
  padding-inline: 5px;
  border-radius: 10px;
  outline:rgb(102, 13, 185) ;
  border: none;
  overflow: hidden;
}

.input-container a{
  color: white;
  background-color:rgb(102, 13, 185) ;
  padding-block: 20px;
  border-radius: 10px;
  transition: all .3s ease;
   box-shadow: 0px 0px 10px 5px rgb(102, 13, 185) ;
}

.input-container a:hover{
  transform: scale(1.03);
  background-color:rgb(126, 16, 230) ;
}

.input-container input:focus{
  outline:2px solid rgb(102, 13, 185);
}

#message{
  height: 170px;
  border-radius: 10px;
  padding: 8px;
}

#message:focus{
  outline:2px solid rgb(102, 13, 185);
}
