#about{
  padding-block: 40px;
  width: 100%;
  background-color:#eeeffa;
}

.about-title{
  margin-bottom: 30px;
  color: white;
}

.about-title span{
  color:#9a5cfe ;
}

.about-container{
  max-width:1100px;
  width: 90%;
  margin-inline:auto;
}

#about h1{
  text-align: center;
  color: black;
}

.about-content{
  width: 100%;
  font-size: 16px;
  color: black;
  font-weight: 550;
  text-align: justify;
}

.about-content p{
  margin-bottom: 10px;
}